Name:{{name}}<br/>
Type: {{ type }}<br/>
Description: {{ description }}<br/>
Known Issues: {{ knownIssues }}<br/>
Helpful Hints: {{ helpfulHints }}<br/>
Date Created: {{ createDate }}<br/>
Date Ended: {{ endDate }}<br/>